@media (min-width: 0px) and (max-width: 1200px) {
    .error__message ul.message__wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .cantainer {
        width: 90% !important;
    }
}

@media (min-width: 0px) and (max-width: 1024px) {
    .logo__wrap img {
        width: 65px;
    }

    .form__name h1 {
        font-size: 22px;
    }

    .error__message h4 {
        font-size: 14px;
    }

    .error__message ul.message__wrap li {
        font-size: 13px;
    }

    .heading h4 {
        font-size: 16px;
    }

    .fields__wrap {
        gap: 0.5rem;
    }

    .field .label__wrap label {
        font-size: 14px;
    }

    .field .input__wrap input,
    .field .input__wrap select,
    .field .input__wrap textarea {
        font-size: 14px;
    }

    .checkbox__wrap .label__wrap label[for="address__same"],
    .checkbox__wrap .label__wrap label[for="to__date"] {
        font-size: 12px;
    }

    .input__wrap p {
        font-size: 11px;
        padding: 3px 8px;
    }

    .add__more a {
        font-size: 14px;
    }

    .form__footer p.product__by {
        font-size: 12px;
    }

    .width__divide__four,
    .width__divide__two {
        gap: 0.5rem;
    }

    .candidates__wrap {
        margin: 50px 0px;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .candidate__details .cantainer {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 415px auto;
    }

    .candidate__details .cantainer .box.rs__lg {
        grid-column: 2 / 2 span;
        grid-row: 1 / 2 span;
        height: fit-content;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .qualification__sec .fields__wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .specificDetail__sec .fields__wrap .field.check__this {
        grid-column: 1 / 3 span;
    }

    .specificDetail__sec .fields__wrap .field.check__this select {
        width: 100%;
    }

    .specificDetail__sec .fields__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .width__divide__four {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / 2 span;
    }

    .checkbox__wrap .label__wrap label[for="address__same"],
    .checkbox__wrap .label__wrap label[for="to__date"] {
        font-size: 11px;
    }

    .logo__wrap img {
        width: 55px;
    }

    .form__name h1 {
        font-size: 20px;
    }

    .error__message ul.message__wrap {
        grid-template-columns: 100%;
        gap: 0px;
        margin: 0px 0px;
    }

    .error__message ul.message__wrap li {
        font-size: 12px;
    }

    .heading h4 {
        font-size: 15px;
    }

    .field .label__wrap label {
        font-size: 13px;
    }

    .field .input__wrap input,
    .field .input__wrap select,
    .field .input__wrap textarea {
        font-size: 13px;
    }

    .fields__wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .width__divide__two {
        grid-column: 1 / 2 span;
    }

    .heading h4 span {
        font-size: 11px;
    }

    .width__divide__one {
        grid-column: 1 / 2 span;
    }

    .field.check__this {
        grid-column: 1 / 2 span;
    }

    .field.check__this select {
        width: 100%;
    }

    .candidates__wrap {
        margin: 50px 0px;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .filter__bar {
        flex-wrap: wrap;
    }

    .filter__bar .field__wrap {
        width: 100%;
    }

    .filter__bar .field__wrap .field {
        width: 100%;
    }

    .filter__bar .field__wrap input {
        width: 100%;
    }

    .filter__btn {
        width: 100%;
    }

    .filter__bar .filter__btn a {
        margin-left: auto;
    }

    .candidate__details .cantainer {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }

    .candidate__details .cantainer .box.rs__lg {
        grid-column: unset;
        grid-row: unset;
    }

    .cantainer {
        margin: 15px auto;
    }

    body.candidate_details__wrap .actionBtn__wrap .cantainer {
        margin: -15px auto 0px;
    }
}

@media (min-width: 0px) and (max-width: 568px) {
    .cantainer {
        width: 95% !important;
        margin: 10px auto;
        padding: 10px;
    }

    .logo__wrap img {
        width: 45px;
    }

    .form__name h1 {
        font-size: 18px;
    }

    .heading h4 {
        font-size: 15px;
        padding: 8px;
    }

    .fields__wrap {
        grid-template-columns: 100%;
    }

    .width__divide__four {
        grid-template-columns: 100%;
        grid-column: unset;
    }

    .width__divide__two {
        grid-column: unset;
        grid-template-columns: 100%;
    }

    .width__divide__one {
        grid-column: unset;
        width: 100%;
    }

    .field.check__this {
        grid-column: unset;
    }

    .add__more a {
        font-size: 13px;
    }

    .field .width__divide__two {
        grid-template-columns: repeat(2, 1fr);
    }

    .heading h4 span {
        display: none;
    }

    .submit__wrap a {
        padding: 6px 10px;
        font-size: 14px;
    }

    .candidates__wrap {
        margin: 50px 0px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .filter__bar .field__wrap {
        gap: 10px;
    }

    .all__candidates .cantainer {
        padding: 10px;
    }

    .candidates__wrap .candidate {
        padding: 35px 10px;
    }

    body.candidate_details__wrap .actionBtn__wrap .cantainer a.action__btn {
        padding: 8px 10px;
    }

    .candidate__details .cantainer .box .candidate__profile .image__wrap img {
        padding: 1px;
        width: 70px;
        height: 70px;
    }

    .candidate__details .cantainer .box .candidate__profile .select__wrap select {
        margin: 15px 0px 0px;
        height: 36px;
    }

    .rs__data__wrap .pairData .key__wrap p {
        font-size: 13px;
        color: black;
        font-weight: 500;
        text-shadow: 0 0 black;
    }

    .candidate__details .cantainer .box .tabcontent h3 {
        font-size: 17px;
        font-weight: 600;
        color: rgb(0 0 0 / 70%);
    }

    .candidate__details .cantainer .box.rs__sm .salary__wrap ul.salary span.body {
        font-size: 14px;
    }

    body.candidate_details__wrap .actionBtn__wrap .cantainer {
        margin: -10px auto 0px;
    }
}

@media (min-width: 0px) and (max-width: 375px) {
    .filter__bar .field__wrap {
        flex-wrap: wrap;
    }
}
