* {
    font-family: Calibri;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

input,
select,
textarea {
    height: 2rem;
    padding: 0.275rem 0.575rem;
    color: #495057;
    transition: .2s ease-in-out;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 15px;
}

input:focus,
select:focus,
textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(21 128 79 / 60%) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(21 128 79 / 25%);
}

textarea {
    height: 64px;
    resize: none;
}

input[type="checkbox"]:focus {
    box-shadow: unset;
}

input[type="checkbox"] {
    height: auto;
}

input[type="file"] {
    padding: 5px !important;
    height: 36px;
    background-color: white;
}


/* Chrome, Safari, Edge, Opera */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.gap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
}

.cantainer {
    width: 82%;
    margin: 25px auto;
    background-color: #e9ecef;
    padding: 16px 32px;
    border-radius: 5px;
}

.form .top__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrap img {
    width: 85px;
}

.form__name h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5rem;
}

.section {
    margin: 20px 0px;
}

.heading h4 {
    background-color: #15804f;
    color: white;
    text-transform: capitalize;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;
    font-size: 1.1rem;
}

.fields__wrap {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.width__divide__one {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.width__divide__two {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.width__divide__four {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.field .label__wrap label {
    text-transform: capitalize;
}

.field .input__wrap input,
.field .input__wrap select,
.field .input__wrap textarea {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 15px;
}

.checkbox__wrap {
    display: flex;
    align-items: center;
    gap: 3px;
}

.checkbox__wrap .input__wrap {
    height: 15px;
}

.checkbox__wrap .label__wrap label {
    font-size: .8rem;
}

.label__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 3px;
}

.checkbox__wrap .label__wrap {
    margin: 0px;
}


/* if input checked then this condition is work */

.field .label__wrap:has(.checkbox__wrap input[type="checkbox"]:checked)+.input__wrap input,
.field .label__wrap:has(.checkbox__wrap input[type="checkbox"]:checked)+.input__wrap textarea {
    cursor: default;
    background-color: #dddddd;
    pointer-events: none;
}

.check__this:has(.input__wrap select[name="apply__before"] option[name="Default"]:checked)~.hide__this .input__wrap input,
.check__this:has(.input__wrap select[name="apply__before"] option[name="no"]:checked)~.hide__this .input__wrap input {
    cursor: default;
    background-color: #dddddd;
    pointer-events: none;
}

.heading h4 span {
    font-size: .9rem;
}

.add__more {
    text-align: right;
}

.add__more a {
    align-items: center;
    color: #15804f;
    font-size: 1rem;
    justify-content: right;
    margin: 0px 0px 5px;
    display: inline-block;
}

.add__more a svg {
    margin: 0px 0px -3px;
    display: inline-block;
}

.add__more a:hover span {
    text-decoration: underline;
}

.field select[name="apply__before"] {
    width: 80px;
    text-transform: capitalize;
}

.input__wrap p {
    font-size: .75rem;
    color: #137347;
    padding: 0px 8px;
}

.submit__wrap {
    text-align: center;
}

.submit__wrap a {
    color: #fff;
    background-color: #15804f;
    border-color: #15804f;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    text-transform: capitalize;
}

.submit__wrap a:focus {
    color: #fff;
    background-color: #15804f;
    border-color: #15804f;
    box-shadow: 0 0 0 0.2rem rgb(72 180 97 / 50%);
}

.form__footer {
    margin: 20px 0px 0px;
    text-align: center;
}

.form__footer p.product__by {
    color: #15804f;
}

.error {
    border-bottom: 1px solid red !important;
    border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.display__block {
    display: block !important;
}

.error__message {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin: 1rem 0px;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    display: none;
}

.error__message ul.message__wrap {
    list-style-type: disc;
    padding: 0px 0px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    margin: 5px 0px 0px;
}

.error__message ul.message__wrap li {
    font-size: 14px;
    padding: 3px 0px;
}

.error__message ul.message__wrap li span.input__name {
    text-transform: capitalize;
    font-weight: 600;
}

.error__message h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.checkbox__wrap .label__wrap label[for="address__same"],
.checkbox__wrap .label__wrap label[for="to__date"] {
    cursor: pointer;
}

.add__more__mainFields .fields__wrap {
    border-top: 1px dashed #15804f;
    padding: 5px 0px 5px;
}

.add__more__mainFields .fields__wrap:first-child {
    border: unset;
}

/* .all__candidates {
    background-color: #e9ecef;
    background-color: #f5f6fd;
} */

.all__candidates .cantainer {
    width: 82%;
    margin: 0px auto;
    padding: 16px 32px;
    border-radius: 5px;
}

.filter__bar {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 10px 0px;
}

.filter__bar .field__wrap {
    display: flex;
    gap: 15px;
}

.filter__bar .field__wrap input {
    width: 220px;
}

.filter__bar .filter__btn a {
    text-transform: capitalize;
    background-color: #15804f;
    color: white;
    display: flex;
    height: 32px;
    width: 80px;
    align-items: center;
    justify-content: center;
    letter-spacing: .3px;
    border-radius: 5px;
    box-shadow: 0px 8px 5px rgb(21 128 79 / 20%);
    transition: .2s ease-in-out;
}

.filter__bar .filter__btn a:hover {
    box-shadow: 0px 4px 5px rgb(21 128 79 / 20%);
}

.candidates__wrap {
    margin: 100px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.candidates__wrap .candidate {
    text-align: center;
    background-color: white;
    padding: 35px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .2s ease-in-out;
    overflow: hidden;
}

.candidate img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.candidate .name__wrap p {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px 0px;
    color: black;
    text-shadow: 0 0 0 black;
}

.candidate .job_tittle__wrap p {
    color: rgb(0 0 0 / 50%);
    font-size: 12px;
    margin: 5px 0px 0px;
}

.candidate .details__btn a {
    display: inline-block;
    background-color: rgb(21 128 79 / 10%);
    color: #15804f;
    text-transform: capitalize;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 13px;
    margin: 9px 0px 0px;
    transition: .2s ease-in-out;
}

.candidates__wrap .candidate:hover {
    border: 1px solid #eaeaed;
}

.candidates__wrap .candidate:hover .details__btn a {
    color: white;
    background-color: rgb(21 128 79);
    box-shadow: 4px 5px 0 rgb(21 128 79 / 10%);
}

.data__msg {
    position: fixed;
    right: 10px;
    bottom: 25px;
    background-color: #15804f;
    padding: 5px 10px 10px;
    color: white;
    border-radius: 5px;
}

.data__msg .close__wrap {
    border-bottom: 1px solid white;
}

.data__msg span {
    display: flex;
    width: 20px;
    font-size: 18px;
    margin: 0px 0px 5px auto;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.data__msg span:hover {
    color: #c5c5c5;
}

.data__msg p {
    font-size: 12px;
    text-transform: capitalize;
    margin: 5px 0px 0px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.navbar ul a {
    text-transform: capitalize;
    color: white;
    background-color: #15804f;
    border: 1px solid #15804f;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px;
    display: inline-block;
    transition: .2s ease-in-out;
}

.navbar ul a:hover {
    background-color: white;
    color: #15804f;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */

.candidate__details .cantainer {
    margin: 0px auto;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

body.candidate_details__wrap {
    background-color: #e9ecef;
}

body.candidate_details__wrap .navbar .cantainer {
    background-color: white;
}

body.candidate_details__wrap .actionBtn__wrap .cantainer {
    text-align: right;
    margin: -25px auto 0px;
}

body.candidate_details__wrap .actionBtn__wrap .cantainer a.action__btn {
    text-transform: capitalize;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 14px;
    display: inline-block;
    transition: .2s ease-in-out;
}

body.candidate_details__wrap .actionBtn__wrap .cantainer a.action__btn.access {
    background-color: #d7eff9;
    color: #489baf;
    border: 1px solid;
    text-shadow: 0 0 black;
}

body.candidate_details__wrap .actionBtn__wrap .cantainer a.action__btn.danger {
    background-color: #f4e2e6;
    color: #d26b7a;
    border: 1px solid;
    text-shadow: 0 0 black;
    margin: 0px 0px 0px 10px;
}


.candidate__details .cantainer .box .candidate__profile {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}

.candidate__details .cantainer .box .candidate__profile .star__wrap {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #e9ecef;
    padding: 3px 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.candidate__details .cantainer .box .candidate__profile .star__wrap svg {
    fill: #fc8b34;
    width: 10px;
}

.candidate__details .cantainer .box .candidate__profile .star__wrap span {
    font-size: 12px;
    text-shadow: 0 0 black;
}

.candidate__details .cantainer .box .candidate__profile .image__wrap {
    width: fit-content;
    margin: auto;
    overflow: hidden;
    padding: 3px;
    background-color: #fc8b34;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidate__details .cantainer .box .candidate__profile .image__wrap img {
    padding: 2px;
    background-color: white;
    width: 90px;
    height: 90px;
    /* border-radius: 100%; */
}

.candidate__details .cantainer .box .candidate__profile .name__wrap p {
    margin: 15px 0px 0px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-shadow: 0 0 black;
}

.candidate__details .cantainer .box .candidate__profile .job__position p {
    margin: 5px 0px 0px;
    color: rgb(0 0 0 / 60%);
    font-size: 13px;
}

.candidate__details .cantainer .box .candidate__profile .select__wrap select {
    margin: 20px 0px 0px;
    width: 80%;
    background-color: #15804f;
    color: white;
    padding: 0px 5px;
    height: 40px;
}

.candidate__details .cantainer .box.rs__sm .candidate__genDetail {
    background-color: white;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px 0px 0px;
}

.candidate__details .cantainer .box.rs__sm .candidate__genDetail .box {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin: 0px 0px 20px;
}

.candidate__details .cantainer .box.rs__sm .candidate__genDetail .box .left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.candidate__details .cantainer .box.rs__sm .candidate__genDetail .box .left svg {
    fill: #15804f;
    width: 12px;
}

.candidate__details .cantainer .box.rs__sm .candidate__genDetail .box .right p.sec__label {
    font-size: 14px;
    color: rgb(0 0 0 / 60%);
    margin: 0px 0px 3px;
}

.candidate__details .cantainer .box.rs__sm .candidate__genDetail .box .right p.candidate__name_rep {
    font-size: 14px;
    color: black;
}

.candidate__details .cantainer .box.rs__sm .candidate__genDetail .box:last-child {
    margin: 0px;
}

.candidate__details .cantainer .box .tab {
    background-color: white;
    border-radius: 3px;
}

.candidate__details .cantainer .box .tab button.active {
    background-color: rgb(21 128 79 / 10%);
}

.candidate__details .cantainer .box .tab button {
    background-color: white;
    color: rgb(0 0 0 / 50%);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: unset;
    padding: 15px 16px;
}

.candidate__details .cantainer .box.rs__sm .heading__wrap h4 {
    text-transform: capitalize;
    color: rgb(0 0 0 / 80%);
    margin: 10px 0px 10px;
}

.candidate__details .cantainer .box.rs__sm .salary__wrap ul.salary {
    border: 1px solid rgb(21 128 79 / 20%);
    background-color: rgb(144 238 144 / 40%);
    margin: 0px 0px 15px;
    padding: 10px;
    border-radius: 5px;
}

.candidate__details .cantainer .box.rs__sm .salary__wrap ul.salary li::before {
    content: "\2022";
    color: #15804f;
    margin: 0px 10px 0px 0px;
}

.candidate__details .cantainer .box.rs__sm .salary__wrap ul.salary span.head {
    color: rgb(0 0 0 / 80%);
    font-size: 14px;
    font-weight: 600;
}

.candidate__details .cantainer .box.rs__sm .salary__wrap ul.salary span.body {
    color: #15804f;
    font-weight: 600;
    margin: 5px 0px 0px;
    display: inline-block;
}

.candidate__details .cantainer .box .salary__sec {
    padding: 00px 10px 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin: 0px 0px 10px;
}

.candidate__details .cantainer .box.rs__sm .salary__wrap ul.salary:last-child {
    margin: 0px;
}

.candidate__details .cantainer .box .note__sec {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.candidate__details .cantainer .box.rs__sm .heading__wrap p {
    font-size: 13px;
    margin: -8px 0px 15px;
    color: rgb(0 0 0 / 50%);
    font-weight: 600;
}

.candidate__details .cantainer .box .note__sec .note_wrap textarea {
    padding: 5px;
    font-size: 13px;
    width: 100%;
}

.candidate__details .cantainer .box .note__sec .note_wrap a {
    color: black;
    border: 1px solid lightgrey;
    display: block;
    padding: 3px 5px 5px;
    border-radius: 3px;
    font-size: 14px;
    margin: 6px 0px 0px;
}

.candidate__details .cantainer .box .tabcontent {
    background-color: white;
    border: unset;
    height: auto;
}

body.candidate_details__wrap .actionBtn__wrap .cantainer a.action__btn.access:hover {
    background-color: rgb(190 229 245);
}

body.candidate_details__wrap .actionBtn__wrap .cantainer a.action__btn.danger:hover {
    background-color: #f9cfd8;
}

.candidate__details .cantainer .box.rs__lg {
    background-color: white;
}

.candidate__details .cantainer .box .tabcontent .rs__data__wrap {
    margin: 15px 0px 0px 15px;
    height: auto;
}

.rs__data__wrap .pairData .key__wrap p {
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-shadow: 0 0 black;
    text-transform: capitalize;
}

.rs__data__wrap .pairData .value__wrap p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0 0 0 / 80%);
    margin: 3px 0px 0px;
}

.candidate__details .cantainer .box .tabcontent .rs__data__wrap iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.rs__data__wrap .pairData {
    margin: 10px 0px 0px;
}
